# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.local
.cache
.cache/
.cache/.stylelintcache/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Mojo Files
.env
node_modules
.cache/.stylelintcache

!*.gitkeep
!./**/*.gitkeep

OLD_pug.cjs
profile.html

_pics/*
