mixin author()
  script(type="application/ld+json").
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "name": "Derek Scott",
      "jobTitle": "Developer Extraordinaire",
      "affiliation": "Freelance Developer",
      "description": "Derek Scott is a Developer Extraordinaire with over a decade of experience in web development. Passionate and hardworking, even being recognized at industry conferences.",
      "sameAs": [
        "https://github.com/johnny13",
        "https://www.linkedin.com/in/derekscott13/",
        "https://discordapp.com/users/johnnyfortune_21837"
      ]
    }
