//-
//- GLOBAL VARIABLES
//- Every page configured here.
//- Package data is imported at the node level
//- --------------------------

- var path = './'
- var imgPath = "./"

- var title = 'My Portfolio'
- var metaDesc = 'This is a summary of my work to date. Thank you for checking it out.'
- var keywordDesc = 'author,portfolio,resume'

- var highlight = false

- var lang = "en.US"
- var stamp = Math.round(new Date().getTime() / 1000)
