@use 'sass:map';

$background: #3f3f3f;
$ocean: #0fb2aa;
$violet: #520099;
$color_1: #1f1f1f;

$background-color_1: #eeeeee;
$background-color_2: #333;
$background-color_3: #1f9eba;
$background-color_4: #5bc0de;
$background-color_5: #59ba1f;
$background-color_6: #d1bd10;
$background-color_7: #ba1f1f;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);

$smMax: map.get($grid-breakpoints, 'sm');
$medMax: map.get($grid-breakpoints, 'md');
$lgMax: map.get($grid-breakpoints, 'lg');
$xlMax: map.get($grid-breakpoints, 'xl');

body {
    background: $background;
    color: #ffffff;
}

.jura {
    font-family: 'Jura', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    &.normal {
        font-weight: 300;
    }

    &.bold {
        font-weight: 700;
    }
}

.jost {
    font-family: 'Jost', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    &.normal {
        font-weight: 300;
    }

    &.bold {
        font-weight: 700;
    }
}

a,
button,
.btn,
.nav-link {
    font-family: 'Jura', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    &.normal {
        font-weight: 300;
    }

    &.bold {
        font-weight: 700;
    }
}

#fullpage {
    z-index: 1;
}

#profile,
#home,
#hobbies,
#timeline,
#contact {
    scroll-margin-bottom: 0;
}

/* Ensure sections take full height */
.section {
    min-height: 100vh;
}

.heavyTitle {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

h2.background {
    position: relative;
    z-index: 1;
}
h2.background:before {
    border-top: 2px solid #dfdfdf;
    content: '';
    margin: 0 auto;
    /* this centers the line to the full width specified */
    position: absolute;
    /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1;
}
h2.background span {
    /* to hide the lines from behind the text, you have to set the background color the same as the container */
    background: $background;
    padding: 0 15px;
}

/* Homepage Section */
.homepage {
    background: #520099;
    overflow: hidden;
    background: linear-gradient(
        162deg,
        rgba(82, 0, 153, 1) 0%,
        rgba(15, 178, 170, 1) 50%,
        rgba(251, 255, 18, 1) 100%
    );

    #homepageCanvas {
    }

    // &::after {
    //     content: '';
    //     position: absolute;
    //     left: 50%;
    //     right: 0;
    //     top: 0;
    //     bottom: 0;
    //     z-index: 2;
    //     background: #fff;
    //     background: url('imgs/background.jpg') no-repeat top center;
    //     background-size: cover;
    //     border-left: 1px solid #4f4f4f;
    //     -webkit-box-shadow: inset 5px 0px 10px 0px rgba(0, 0, 0, 0.62);
    //     -moz-box-shadow: inset 5px 0px 10px 0px rgba(0, 0, 0, 0.62);
    //     box-shadow: inset 5px 0px 10px 0px rgba(0, 0, 0, 0.62);
    // }

    #homepageTitle {
        height: 100%;
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        padding: 0;

        .display-1 {
            text-transform: uppercase;
            margin-left: -4rem;
            font-weight: 700;
            letter-spacing: -0.5px;
        }
        .subtitle {
            font-size: 2.3rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-family: 'Jost';
            margin-left: -4rem;
        }
    }

    .homepage-border {
        width: 100%;
        content: '';
        height: 20px;
        background: $background;
        margin-top: -10px;
        z-index: 2;
    }

    .smallTitle {
        display: none;
    }
}

@media (max-width: $xlMax) and (min-width: $lgMax) {
    .homepage .homepage-content {
        #homepageTitle {
            transform: rotate(90deg);
            .display-1 {
                font-size: 3.5rem;
            }
            .subtitle {
                font-size: 2rem !important;
            }
        }
    }
}

@media (max-width: $lgMax) {
    .homepage .homepage-content {
        .display-1 {
            transform: rotate(90deg);
            width: 100%;
            min-width: 450px;
        }
    }
}

@media (max-width: $medMax) {
    .homepage {
        background: $background;
        .col-md-6 {
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        .smallTitle {
            position: relative;
            display: block;

            .smallTitleWrapper {
                display: block;
                z-index: 5;
                position: absolute;
                top: 50%;
                left: 50%;
                padding-top: 200px;
                width: 100%;
                max-width: 420px;
                transform: translate(-50%, 50%);

                .display-1 {
                    font-weight: 700;
                    font-size: 5rem;
                    letter-spacing: -1px;
                    text-shadow: 2px 1px 0px rgba(0, 0, 0, 0.5);
                }
            }
        }
    }
}

@media (max-width: $smMax) {
    .homepage .smallTitle {
        .smallTitleWrapper {
            width: 100%;
            min-width: 300px;
            max-width: 300px;

            .display-1 {
                font-size: 3rem;
            }
        }
    }
}

// Change from 50 / 50 to content area overtop image
// @media (max-width: 767px) {
//     .homepage {
//         background: #eee;

//         &::after {
//             opacity: 0;
//             z-index: -9;
//         }

//         .homepage-content {
//             padding: 40vh 0px 0px 0px;

//             .display-1,
//             .subtitle {
//                 margin: 0 auto !important;
//                 text-align: center;
//                 display: block;
//                 position: relative;
//             }

//             .subtitle {
//                 font-size: 2rem;
//                 letter-spacing: -2px;
//                 font-weight: 400;
//             }
//         }
//     }
// }

.portfolio-section {
    padding-top: 5rem;

    h2 {
        margin: 2rem auto 2rem auto;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
    }
}

.hobby-section {
    padding-top: 5rem;
    transition: background 1.75s linear;
    background: #000;

    &.visible {
        background: $ocean;
    }
}

/* Timeline */
.timeline-section {
    position: relative;
    min-height: 120vh;
    transition: background 3s linear;
    background: #000;

    &.visible {
        background: $violet;
    }

    .timeline-main-title {
        padding-top: 6rem;
    }

    .timeline-col {
        padding-left: 300px !important;
    }

    .scrolling-wrapper {
        overflow-x: auto;
    }
}

.timeline {
    list-style: none;
    padding: 20px;
    position: relative;
    &:before {
        top: 40px;
        bottom: 0;
        position: absolute;
        content: ' ';
        width: 3px;
        background-color: $background-color_1;
        left: 50%;
        margin-left: -1.5px;
    }
    .timeline-item {
        margin-bottom: 20px;
        position: relative;
        &:before {
            content: '';
            display: table;
        }
        &:after {
            content: '';
            display: table;
            clear: both;
        }
        .timeline-badge {
            color: $color_1;
            width: 54px;
            height: 54px;
            line-height: 52px;
            font-size: 22px;
            text-align: center;
            position: absolute;
            top: 18px;
            left: 50%;
            margin-left: -25px;
            background-color: $background-color_2;
            border: 3px solid #ffffff;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
            i,
            .bx,
            .fa {
                top: 2px;
                left: 0px;
                width: 30px;
                height: 30px;
                font-size: 30px;
            }
        }
        .timeline-badge.primary {
            background-color: $background-color_3;
        }
        .timeline-badge.info {
            background-color: $background-color_4;
        }
        .timeline-badge.success {
            background-color: $background-color_5;
        }
        .timeline-badge.warning {
            background-color: $background-color_6;
        }
        .timeline-badge.danger {
            background-color: $background-color_7;
        }
        .timeline-panel {
            position: relative;
            width: 46%;
            float: left;
            right: 16px;
            border: 1px solid #777;
            background: #ffffff;
            border-radius: 2px;
            padding: 20px;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            &:before {
                position: absolute;
                top: 26px;
                right: -16px;
                display: inline-block;
                border-top: 16px solid transparent;
                border-left: 16px solid #777;
                border-right: 0 solid #777;
                border-bottom: 16px solid transparent;
                content: ' ';
            }
            .timeline-title {
                color: #000;
                margin-top: 0;
            }
            .timeline-body {
                color: #3f3f3f;
                > p {
                    margin-bottom: 0;
                    + {
                        p {
                            margin-top: 5px;
                        }
                    }
                }
                > ul {
                    margin-bottom: 0;
                }
            }
        }
        &:last-child {
            &:nth-child(even) {
                float: right;
            }
        }
        &:nth-child(even) {
            .timeline-panel {
                float: right;
                left: 16px;
                &:before {
                    border-left-width: 0;
                    border-right-width: 14px;
                    left: -14px;
                    right: auto;
                }
            }
        }
    }
}
.timeline-horizontal {
    list-style: none;
    padding: 20px;
    position: relative;
    list-style: none;
    position: relative;
    padding: 20px 0px 20px 0px;
    display: inline-block;
    &:before {
        height: 3px;
        top: auto;
        bottom: 26px;
        left: 56px;
        right: 0;
        width: 100%;
        margin-bottom: 20px;
    }
    .timeline-item {
        display: table-cell;
        height: 280px;
        width: 20%;
        min-width: 320px;
        float: none !important;
        padding-left: 0px;
        padding-right: 20px;
        margin: 0 auto;
        vertical-align: bottom;
        .timeline-panel {
            top: auto;
            bottom: 64px;
            display: inline-block;
            float: none !important;
            left: 0 !important;
            right: 0 !important;
            width: 100%;
            margin-bottom: 20px;
            &:before {
                top: auto;
                bottom: -16px;
                left: 28px !important;
                right: auto;
                border-right: 16px solid transparent !important;
                border-top: 16px solid #777 !important;
                border-bottom: 0 solid #777 !important;
                border-left: 16px solid transparent !important;
            }
        }
        &:before {
            display: none;
        }
        &:after {
            display: none;
        }
        .timeline-badge {
            top: auto;
            bottom: 0px;
            left: 43px;
        }
    }
}

/* Profile Section */
.profile-section {
    h2 {
        margin: 0 0 0 1.75rem;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
    }

    .author-profile {
        .card,
        .list-group-item {
            background-color: #ffffff;
            color: #000000;

            .bx {
                width: 30px;
                height: 30px;
                font-size: 30px;
            }
        }

        .card {
            border: none;
        }

        /* Profile Image as Background */
        .headshot-container {
            position: relative;
            width: 100%;
            max-width: 400px;
            height: 400px;
            margin: 0 0 3rem 1rem;
            display: block;
            background: url('https://i.imgur.com/jYmFd5a.jpeg') no-repeat top
                center;
            background-size: cover;
            border-radius: 10px;
            border: 2px solid #1f1f1f;
            opacity: 1;
        }

        .headshot-container::after {
            content: '';
            background: url('https://i.imgur.com/jYmFd5a.jpeg') no-repeat top
                center;
            background-size: cover;
            background-position-y: -398px;
            opacity: 0;
            transition: opacity 0.5s linear;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 4;
            border-radius: 10px;
        }

        .headshot-container:hover::after {
            opacity: 1;
        }

        .author-details {
            padding: 0;

            .heavyTitle {
                margin-left: 1.125rem;
                letter-spacing: 1.5px;
                margin-top: 0px !important;
            }

            p {
                font-size: 1rem;
                line-height: 1.777;
                padding: 10px 1.5rem 10px 1.5rem;
            }
        }
    }
}

@media (max-width: $lgMax) {
    .profile-section {
        .author-profile {
            .headshot-container {
                margin: 0 auto 2rem auto;
                height: 276px;
            }

            .headshot-container::after {
                background-position-y: -276px;
            }
        }
        .cta-buttons {
            .cta-wrapper {
                margin-top: 2rem;
                margin-bottom: 10rem;
            }
        }
    }
}

// .headshot-container {
//     width: 100%;
//     height: 300px;
//     background: url('https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3')
//         no-repeat center center;
//     background-size: cover;
//     border-radius: 10px;
// }

.svgWave {
    position: relative;
    z-index: 0;

    .svgBottom {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

/* NAV DOTS MENU */
.dots {
    z-index: 1;
    list-style: none;
    padding: 0;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}

.dots li a {
    padding: 10px;
    width: 4px;
    height: 5px;
    display: block;
}

.dots li a:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background: rgba(255, 255, 255, 0.48);
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition:
        transform 0.3s ease,
        background-color 0.3s ease;
}

.dots li a.active:before {
    content: '';
    background-color: #ffffff;
    width: 14px;
    height: 14px;
    margin-top: -4px;
    left: 7px;
    background-color: white;
    transform: scale(1.1);
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
}

.dots-right {
    left: 25px;
}

.dots-left {
    right: 10px;
}

@media (max-width: 767px) {
    .dots li a {
        margin-bottom: 30px;
    }

    .dots-right {
        left: 10px;
    }
}

.footer {
    position: relative;

    .attributeContainer {
        position: absolute;
        bottom: 20px;
        right: 20px;
        text-align: right;
        z-index: 3;
        font-size: 14px;

        .text-muted {
            color: $background-color_1 !important;
        }

        a {
            color: $background-color_4 !important;
            transition: color 0.5s linear;

            &:hover {
                color: $background-color_3 !important;
            }
        }
    }
}

@media (max-width: 767px) {
    .attributeContainer {
        font-size: 12px;
    }
}
